/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbars-hide::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbars-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.img-navbar-logo {
    width: 12.5rem;
    height: 3.5625rem;
}

#pageContentWrapper {
    min-width: 100vw;
    min-height: 100vh;
}

.invalid-feedback-custom {
    width: auto;
    text-align: left;
    margin-top: .25rem;
    font-size: .875rem;
    color: rgb(248, 65, 65)
}

.btn-primary-confirm {
    --bs-btn-color: #000 !important;
    --bs-btn-bg: #45d33e !important;
    --bs-btn-border-color: #45d33e !important;
    --bs-btn-hover-color: #000 !important;
    --bs-btn-hover-bg: #8bcc86 !important;
    --bs-btn-hover-border-color: #45d33e !important;
    --bs-btn-active-color: #000 !important;
    --bs-btn-active-bg: #abc2aa !important;
    --bs-btn-active-border-color: #45d33e !important;
}

.input-group-append {
    cursor: pointer;
}

.custom-file-button input[type=file] {
    margin-left: -2px !important;
}

.custom-file-button input[type=file]::-webkit-file-upload-button {
    display: none;
}

.custom-file-button input[type=file]::file-selector-button {
    display: none;

}

.custom-file-button:hover label {
    background-color: black !important;
    border-color: black !important;
    cursor: pointer;
}

.custom-button-color {
    background-color: #424242 !important;
    border-color: #424242 !important;
}

.black-button {
    background-color: #152733 !important;
    border-color: #3d3d3d !important;
}

.no-bm {
    margin-bottom: 0px !important;
}