<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">

</head>
<body>
<div class="container">
    <form th:object="${event}" th:action="@{/createEvent}" method="post">
        <div class="mb-3">
            <label for="Title" class="form-label">Title:</label>
            <input id="Title" class="form-control" type="text" th:field="*{title}"/>
            <div
                    th:if="${#fields.hasErrors('title')}"
                    th:text="${#fields.errors('title')}"
                    class="invalid-feedback-custom">
            </div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description:</label>
            <input id="description" class="form-control" type="text" th:field="*{description}"/>
            <div
                    th:if="${#fields.hasErrors('description')}"
                    th:text="${#fields.errors('description')}"
                    class="invalid-feedback-custom">
            </div>
        </div>
        <div class="mb-3">
            <label for="startDateEvent" class="form-label">Start Date Event:</label>
            <input id="startDateEvent" type="datetime-local" class="form-control" th:field="*{startEventDate}"
                   required/>
        </div>

        <div class="mb-3">
            <label for="endDateEvent" class="form-label">End Date Event:</label>
            <input id="endDateEvent" type="datetime-local" class="form-control" th:field="*{endEventDate}" required/>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Send">
        </div>
    </form>
</div>
</body>
</html>