<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- Favicon-->
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <!-- Custom css-->
    <link href="/css/register.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
    <title>Register user</title>
</head>
<body class="bg-dark text-center">
<main class="form-register w-100 m-auto">
    <!-- Login form-->
    <form method="post" th:action="@{/user/register}" th:object="${user}">
        <!-- Logo-->
        <img alt=""
             class="mb-4"
             height="96"
             src="/assets/android-chrome-192x192.png"
             width="96"/>
        <h1 class="h3 mb-3 fw-normal text-white">Please register</h1>
        <!-- GLOBAL ERROR -->
        <div
                th:if="${#fields.hasErrors('global')}"
                th:each="err : ${#fields.errors('global')}"
                th:text="${err}"
                class="alert alert-danger">
        </div>
        <!-- Nickname input-->
        <div class="form-floating">
            <input class="form-control"
                   id="floatingNickname"
                   name="nickname"
                   placeholder="Nickname"
                   th:field="*{username}"
                   type="text">
            <label for="floatingNickname">Nickname</label>
            <div
                    class="invalid-feedback-custom"
                    th:if="${#fields.hasErrors('username')}"
                    th:text="${#fields.errors('username')}">
            </div>
        </div>
        <!-- Email input-->
        <div class="form-floating">
            <input class="form-control"
                   id="floatingEmail"
                   name="username"
                   placeholder="name@example.com"
                   th:field="*{email}"
                   type="email">
            <label for=floatingEmail>Email address</label>
            <div
                    class="invalid-feedback-custom"
                    th:if="${#fields.hasErrors('email')}"
                    th:text="${#fields.errors('email')}">
            </div>
        </div>
        <!-- Password input-->
        <div class="form-floating">
            <input class="form-control"
                   id="floatingPassword"
                   name="password"
                   placeholder="Password"
                   th:field="*{password}"
                   type="password">
            <label for="floatingPassword">Password</label>
            <div
                    class="invalid-feedback-custom"
                    th:if="${#fields.hasErrors('password')}"
                    th:text="${#fields.errors('password')}">
            </div>
        </div>
        <!-- Confirm password input -->
        <div class="form-floating">
            <input class="form-control"
                   id="floatingConfirmPassword"
                   name="password"
                   placeholder="ConfirmPassword"
                   th:field="*{confirmPassword}"
                   type="password">
            <label for="floatingConfirmPassword">Confirm Password</label>
        </div>
        <!-- Terms of service -->
        <div class="mb-2 text-white">
            <label>
                <input type="checkbox" required/>
                I agree all statements in <a href="#">Terms of service</a>
            </label>
        </div>
        <!-- Register form button-->
        <button class="w-100 btn btn-lg btn-primary btn-primary-confirm fw-semibold"
                type="submit"
                value="Register">
            Register
        </button>
        <!-- Homepage-->
        <div class="container">
            <div class="row">
                <div class="col text-start px-0">
                    <a th:href="@{/home}">back to homepage</a>
                </div>
                <div class="col text-end px-0">
                    <a th:href="@{/home/login}">login</a>
                </div>
            </div>
        </div>
    </form>
</main>
<!-- Bootstrap core JS-->
<script crossorigin="anonymous"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

