<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap-grid.min.css">
    <script src="webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <form th:object="${user}" th:action="@{/mvc/user}" method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input type="text" class="form-control" id="username">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" class="form-control" id="password">
        </div>
        <div class="mb-3">
            <label for="passwordConfirm" class="form-label">Confirm Password:</label>
            <input type="password" class="form-control" id="passwordConfirm">
        </div>
        <div class="mb-3">
            <input type="submit" value="Save">
        </div>
    </form>
</div>
</body>
</html>