<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event detail view</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <p id="id" name="id" th:value="${event.id}"></p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${event}">
                <td th:text="${event.title}"></td>
                <td th:text="${event.description}"></td>
                <td th:text="${event.startingDateTime}"></td>
                <td th:text="${event.endingDateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <form th:object="${comment}" th:action="@{/detail-view/__${event.id}__}" method="post">
            <div>
                <label for="comment">Write a comment:</label>
                <input id="comment" type="text" th:field="*{text}"/>
            </div>
            <div>
                <input type="submit" value="Add">
            </div>
        </form>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Text</th>
                <th>Writing date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${comments}">
                <td th:text="${c.text}"></td>
                <td th:text="${c.writingDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>

<div class="container">
    <table class="table table-striped">
        <h3>List of users saved for events </h3>
        <thead>

        <tr>
            <th>Username</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
