<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <!-- Favicon-->
    <link href="/assets/favicon.ico" rel="icon" type="image/x-icon"/>
    <!-- custom css-->
    <link href="/css/custom.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" rel="stylesheet">
    <title>Event detail view</title>
</head>
<body>
    <div class="container">
        <p id="id" name="id" th:value="${event.id}"></p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Start time</th>
                <th>End time</th>
            </tr>
            </thead>
            <tbody>
            <tr th:object="${event}">
                <td th:text="${event.title}"></td>
                <td th:text="${event.description}" ></td>
                <td th:text="${event.startingDateTime}"></td>
                <td th:text="${event.endingDateTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="col-md-3" th:object="${event.image}">
            <img alt="event-image" style="width:304px;height:228px" th:src="@{${'/images/' + event.image.filename}}">
        </div>
    </div>

    <div>
        <form th:object="${comment}" th:action="@{/detail-view/__${event.id}__}" method="post">
            <div>
                <label for="comment">Write a comment:</label>
                <input id="comment" type="text" th:field="*{text}"/>
            </div>
            <div>
                <input type="submit" value="Add">
            </div>
        </form>
    </div>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Comment author</th>
                <th>Text</th>
                <th>Writing date</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="c : ${comments}">
                <td th:text="${c.userNickname} + ' wrote: '"></td>
                <td th:text="${c.text}"></td>
                <td th:text="${c.writingDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Bootstrap core JS-->
    <script crossorigin="anonymous"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>