<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Start time</th>
                    <th>End time</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="eventDTO : ${eventsDTO}">
                    <td th:text="${eventDTO.title}"></td>
                    <td th:text="${eventDTO.startingDateTime}"></td>
                    <td th:text="${eventDTO.endingDateTime}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>