<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Event detail view</title>
    <link href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
</head>
<body>


<form method="get" th:action="@{/my-events}">
    <div class="container">

        <select name="participationType" value="participationType">
            <option th:each="participationType: ${participationTypes}"
                    th:text="${participationType.displayValue}" th:value="${participationType.displayValue}"></option>
        </select>

        <select name="dateType" value="dateType">
            <option th:each="dateType: ${dateTypes}"
                    th:text="${dateType.displayValue}" th:value="${dateType.displayValue}"></option>
        </select>

    </div>
    <div>
        <input class="btn btn-primary" type="submit" value="Search">
    </div>
</form>


<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Owned events</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ownedEvent : ${ownedEvents}">
            <td>
                <a th:href="@{detail-view/__${ownedEvent.id}__}" th:text="${ownedEvent.title}">
                </a>
            </td>

        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Attending events</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="attendingEvent : ${attendingEvents}">
            <td>
                <a th:href="@{detail-view/__${attendingEvent.id}__}" th:text="${attendingEvent.title}">
                </a>

            </td>

        </tr>
        </tbody>
    </table>
</div>

</body>
</html>